# Dependency directories
node_modules/

# Environment variables
.env

# Persistent storage
data/*.json
!data/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
